@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, "GenreId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenreId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistId, "ArtistId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArtistId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ArtistId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumArtUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlbumArtUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AlbumArtUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    @*<h2>Add songs</h2>


    @Html.AntiForgeryToken()

    <div id="booksBlock">
        <div class="bookItem">
            <h4>Song № 1</h4>
            <div>
                <div>
                    <label>Artist</label><br />
                    <input type="text" name="Songs[0].artist" /><br />

                    <label>Name</label><br />
                    <input type="text" name="Songs[0].name" /><br />
                </div>
            </div>
        </div>
    </div>
    <p><a class="addLink">Add new song</a></p>*@


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@



@section Scripts {
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div class='bookItem'>" +
                    "<h4>Song № " + (i + 1) + "</h4>" +
                    "<div><label>Artist</label><div>" +
                    "<input type='text' name='Songs[" + i + "].artist' />" +
                    "<div><label>Name</label><div>" +
                    "<input type='text' name='Songs[" + i + "].name' />" +
                    "</div></div></div>";
                $('#booksBlock').append(html2Add);
            })
        })
    </script>
}
